﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(back.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#mycontent {
    width: 800px;
    margin:auto;
    margin-top: 50px;
}

#preview p {
    color: white;
    font-size: 24px;
    text-align: center;
}

#buttons {
    margin-top: 50px;
    text-align: center;
}

#forms {
    margin-top: 50px;
}
#div_decrypt, #div_encrypt {
    display: none;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
#input_file{
    color: white;
    margin: auto;
}
#div_decrypt p,#div_encrypt p{
    color: white;
    font-size: 18px;
}
#button7 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border: none;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    font-size: 18px;
    margin-left: 30px;
}

    #button7:hover {
        background: rgb(53, 167, 110);
    }

    #button7:active {
        background: rgb(33,147,90);
        box-shadow: 0 3px rgb(33,147,90) inset;
    }

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    margin-left: 15%;
}
footer p{
    text-align: center;
    color: white;
    font-size: 20px;
}
