﻿@{
    ViewBag.Title = "Home Page";
}

<div id="mycontent">
    <div id="preview">
        <p>Данное веб-приложение позволяет дешифровать или зашифровать информацию из файлов с расширением .txt /.docx по алгоритму шифрования Виженера с использованием ключевого слова</p>
        <div id="buttons">
            <button id="button7" onclick="disp(document.getElementById('div_decrypt'))">Дешифровать</button>
            <button id="button7" onclick="disp(document.getElementById('div_encrypt'))">Зашифровать</button>
        </div>
    </div>
    <div id="forms">
        <div id="div_decrypt" style="display: none">
            @using (Html.BeginForm("UploadDecryption", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <p>Введите ключ шифрования:</p>
                <input type="text" name="key" pattern="[а-яА-Я]+$" 
                       title="Ключ должен содержать только кириллица" required /><br>
                <br />
                <p>Загрузите файл для расшифровки:</p>
                <input id="input_file" type="file" name="upload" accept="text/plain, .docx" required />
                <hr />
                <input type="submit" value="Получить расшифрованный файл" />
            }
        </div>
        <div id="div_encrypt" style="display: none">
            @using (Html.BeginForm("UploadEncryption", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
            {
                <p>Введите ключ шифрования:</p>
                <input type="text" name="key" pattern="[а-яА-Я]+$" 
                       title="Ключ должен содержать только кириллицу" required/><br>
                <br />
                <p>Загрузите файл для зашифровки:</p>
                <input id="input_file" type="file" name="upload" accept="text/plain, .docx" required/>
                <hr />
                <input type="submit" value="Получить зашифрованный файл" />
            }
        </div>
    </div>
</div>


